$color1: yellow;
$color2: black;
$color3: rgba(255, 255, 4, 0.664);
$font1: fantasy;
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(imagenes/fondo2.png);
}
@font-face {
    font-family: outfit;
    src: url(fontfamily/Outfit.ttf);
    src: url(fontfamily/Dongle-Bold.ttf);
    src: url(fontfamily/Dongle-Light.ttf);
    src: url(fontfamily/Oswald-VariableFont_wght.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oswald:wght@300&family=Outfit:wght@100&family=Rubik+Beastly&display=swap');
/* Carrousel */
.carousel-inner img {
    width: 100%;
    height: 500px;
    
}
#demo{
    width: 100%;
    
}
/* Barra de navegacion */
.navbar{
    background-color: rgb(0, 0, 0) !important;
    
    position: fixed !important;
    width: 100%;
}
.navbar-brand{
    text-transform: uppercase;
    color: rgb(253, 253, 101) !important;
    font-family: $font1;
    margin-left: 1%;
}
#collapsibleNavbar{
    margin-left: 10%;
    
}
.nav-link{
    color: rgb(250, 250, 223) !important;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 100px;

}
.nav-link:hover{
    color: $color3 !important;
}
/* titulos de las secciones */
#menu1{
    text-align: center; 
    background-color: rgb(253, 253, 101);
    color: $color2;
    text-transform: uppercase;
    font-family: $font1;
    font-size: 25px;
    border: 1px solid $color2;
    padding: 5px;
}
#menu2{
    text-align: center; 
    background-color: yellow;
    color: rgba(8, 8, 8, 0.692);
    text-transform: uppercase;
    font-family: $font1;
    font-size: 25px;
    border: 1px solid $color2;
    
}
#menu3{
    text-align: center; 
    background-color: yellow;
    color: rgba(8, 8, 8, 0.692);
    text-transform: uppercase;
    font-family: $font1;
    font-size: 25px;
    border: 1px solid $color2;
}
#menu4{
    text-align: center; 
    background-color: yellow;
    color: rgba(8, 8, 8, 0.692);
    text-transform: uppercase;
    font-family: $font1;
    font-size: 25px;
    border: 1px solid $color2;
}
/* actividades */
.container1{
    width: 25%;
    color: yellow;
    text-align: center;
    height: auto;
    margin-bottom: 1%;
}
.container1 img{
    height: 380px;
    border-bottom: $color2 2px solid;
}
.container1 p{
    font-size: 18px;
    margin-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px $color2;
}
.container1:hover{
    transform: scale(1.10);
    transition: all 1s;
    filter: contrast(100%);
}
.boton span{
    color: white !important;
    text-shadow: 2px 2px 3px $color2;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.541) !important;
}
.boton{
    background-color: $color2;
    border-bottom: $color2 2px solid;
}
.container2{
    width: 25%;
    color: yellow;
    text-align: center;
    height: auto;
}
.container2 img{
    height: 380px;
    border-bottom: $color2 2px solid;
}
.container2 p{
    font-size: 18px;
    margin-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px $color2;
}
.container2 p span{
    color: white !important;
    text-shadow: 2px 2px 3px $color2;
    font-size: 15px;
}
.container2:hover{
    transform: scale(1.10);
    transition: all 1s;
    filter: contrast(100%);
}
.container3{
    width: 25%;
    
    color: yellow;
    text-align: center;
    height: auto;
}
.container3 img{
    height: 380px;
    border-bottom: $color2 2px solid;
}
.container13 p{
    font-size: 18px;
    margin-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px $color2;
}
.container3 p span{
    color: white !important;
    text-shadow: 2px 2px 3px $color2;
    font-size: 15px;
}
.container3:hover{
    transform: scale(1.10);
    transition: all 1s;
    filter: contrast(100%);
}
.container4{
    width: 25%;
    
    color: yellow;
    text-align: center;
    height: auto;
}
.container4 img{
    height: 380px;
    border-bottom: $color2 2px solid;
}
.container4 p{
    font-size: 18px;
    margin-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px $color2;
}
.container4 p span{
    color: white !important;
    text-shadow: 2px 2px 3px $color2;
    font-size: 15px;
}
.container4:hover{
    transform: scale(1.10);
    transition: all 1s;
    filter: contrast(100%);
}
.container-fluid{
    height: auto;
    margin-bottom: 1% $color2;
}
/* merch */
.contproducto1{
    width: 33%;
    
    color: yellow;
    text-align: center;
    height: auto;
    margin-left: 4%;
    margin-right: -4%;
    margin-bottom: 1%;
}
.contproducto1 img{
    height: 380px;
    border: $color2 2px solid;
}
.contproducto1 span{
    color: white !important;
    text-shadow: 2px 2px 3px $color2;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.541) !important;
}
.boton{
    background-color: $color2;
    border: $color2 2px solid;
}
.producto1{
    color: $color2;
    display: flex;
    text-align: center;
    
}
/* formulario de contacto */
.contacto{
    background-color: rgba(0, 0, 0, 0.658);
    color: yellow !important;
    text-shadow: 2px 2px 3px $color2;
    width: 70%;
    margin: 0%;
    border: $color2 5px solid;
    margin-left: 15%;
    

}
.invalid-feedback{
    color: white !important;
}

/* footer */
.footer1{
    margin: 0%;
    color: yellow !important;
    text-shadow: 2px 2px 3px $color2;
    width: 100%;
    border: $color2 5px solid;
    background-color: $color2;
    height: auto;
}
.celular a{
    color: white;
}

/* modificacion de pantalla responsive  */
@media only screen and (max-width: 519px){
    .container1{
        width: 100%;
        height: auto;
    }
    .container2{
        width: 100%;
        height: auto;
    }.container3{
        width: 100%;
        height: auto;
    }
    .container4{
        width: 100%;
        height: auto;
    }
    .contproducto1{
        width: 100%;
        height: auto;
    }
    #demo img{
        width: 100%;
        height: 100px;
    }
    
}
    @media only screen and (min-width: 519px) and (max-width:800px){
        .container1{
            width: 50%;
            height: auto;
        }
        .container2{
            width: 50%;
            height: auto;
        }.container3{
            width: 50%;
            height: auto;
        }
        .container4{
            width: 50%;
            height: auto;
        }
        .contproducto1{
            width: 50%;
            height: auto;
        }
        #demo img{
            width: 100%;
            height: 150px;
        }
    }
    @media only screen and (min-width: 800px) and (max-width:1063px){
        .container1{
            width: 33%;
            height: auto;
        }
        .container2{
            width: 33%;
            height: auto;
        }.container3{
            width: 33%;
            height: auto;
        }
        .container4{
            width: 33%;
            height: auto;
        }
        .contproducto1{
            width: 33%;
            height: auto;
        }
    }